source/pages/index.jade
extends ../blocks/layout-default/layout-default

block head
	-var pageTitle = 'Index page';

block content
	.app.main-page
		.app-content
			header.app-header
				ul
					each item in top_menu
						li
							a(href=item.link)!= item.name
			.main-content
				.wrap-content
					h1!= hire_lezgro
					block content

html/index.html
<!DOCTYPE html><!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow">
  <meta name="description" content="">
  <title>Letzgro Web and Mobile Development</title>
  <link rel="shortcut icon" href="../f/i/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../f/i/favicon.ico" type="image/x-icon">
</head>
<body>
  <div class="app main-page">
    <div class="app-content">
      <header class="app-header">
        <ul>
          <li><a href="about">about</a></li>
          <li><a href="services">services</a></li>
          <li><a href="cloud">cloud</a></li>
          <li><a href="mobile">mobile</a></li>
          <li><a href="portfolios">portfolios</a></li>
          <li><a href="blog">blog</a></li>
          <li><a href="careers">careers</a></li>
        </ul>
      </header>
      <div class="main-content">
        <div class="wrap-content">
          <h1>hire Letzgro</h1>
        </div>
      </div>
    </div>
  </div>
</body>
